<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>

</head>
<body>
	<div class="container">
		<div layout:fragment="content" class="mySpace">

			<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" th:src="@{/img/01.jpg}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" th:src="@{/img/02.jpg}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" th:src="@{/img/03.jpg}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

			<!--main content start -->

			<div class="card">
				<p>We would like to thank you for purchasing Smart School! We
					are very pleased you have chosen Smart School for your institution,
					you will not be disappointed! Before you get started, please be
					sure to always check out these documentation files. We outline all
					kinds of good information, and provide you with all the details you
					need to use Smart School. Smart School can be used with any school,
					college, university, training/coaching institute. If you are unable
					to find your answer here in our documentation, watch our Video
					Tutorials, you can also visit our Help & Support. Chances are your
					question or issue have been brought up already and the answer is
					waiting to be found. If you are unable to find it anywhere, then
					please go our Support section and open a new Support Ticket with
					all the details we need. Please be sure to include your site URL as
					well. Thank you, we hope you enjoy using Smart School!</p>
			</div>
			<div class="card">
				<p>We would like to thank you for purchasing Smart School! We
					are very pleased you have chosen Smart School for your institution,
					you will not be disappointed! Before you get started, please be
					sure to always check out these documentation files. We outline all
					kinds of good information, and provide you with all the details you
					need to use Smart School. Smart School can be used with any school,
					college, university, training/coaching institute. If you are unable
					to find your answer here in our documentation, watch our Video
					Tutorials, you can also visit our Help & Support. Chances are your
					question or issue have been brought up already and the answer is
					waiting to be found. If you are unable to find it anywhere, then
					please go our Support section and open a new Support Ticket with
					all the details we need. Please be sure to include your site URL as
					well. Thank you, we hope you enjoy using Smart School!</p>
			</div>
			<div class="card">
				<p>We would like to thank you for purchasing Smart School! We
					are very pleased you have chosen Smart School for your institution,
					you will not be disappointed! Before you get started, please be
					sure to always check out these documentation files. We outline all
					kinds of good information, and provide you with all the details you
					need to use Smart School. Smart School can be used with any school,
					college, university, training/coaching institute. If you are unable
					to find your answer here in our documentation, watch our Video
					Tutorials, you can also visit our Help & Support. Chances are your
					question or issue have been brought up already and the answer is
					waiting to be found. If you are unable to find it anywhere, then
					please go our Support section and open a new Support Ticket with
					all the details we need. Please be sure to include your site URL as
					well. Thank you, we hope you enjoy using Smart School!</p>
			</div>



		</div>

	</div>
	

</body>
</html>