<header>
	<!-- <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nNav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="trigger-mymodal" href="/login" data-toggle="modal" data-target="#loginModal">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 tform">
     <button class="btn btn-outline-success my-2 my-sm-0 eBtn" >Login</button>
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

	<div class="header">
		<div class="header-menu">
			<div class="title">
				ECC <span>ACADAMY</span>
			</div>
			<div class="sidebar-btn">
				<span class="fas fa-bars"></span>
				<!--icon -->
			</div>
			<ul>
				<li><a href="#"><i class="fas fa-search"></i></a></li>
				<!--icon -->
				<li><a href="#"><i class="fas fa-bell"></i></a></li>
				<!--icon -->
				<li><a href="#"><i class="fas fa-power-off"></i></a></li>
				<!--icon -->
			</ul>
		</div>
	</div>
	<nav class="sidebar">

		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#" class="feat-btn">Features <span
					class="fas fa-caret-down first"></span>
			</a>
				<ul class="feat-show">
					<li><a href="#">Pages</a></li>
					<li><a href="#">Elements</a></li>
				</ul></li>
			<li><a href="#" class="serv-btn">Services <span
					class="fas fa-caret-down second"></span>
			</a>
				<ul class="serv-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Shortcuts</a></li>
			<li><a href="#">FeedBack</a></li>

		</ul>
	</nav>
	
</header>