<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!-- for hiding some of the menu items -->
<head>
 
 <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" /> 
  <link rel="stylesheet" href="../../static/css/loginForm.css" th:href="@{css/loginForm.css}" /> 
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" 
  th:href="@{css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/fontawesome/css/all.css" 
  th:href="@{fontawesome/css/all.css}"/>
  <link rel="stylesheet" href="../../static/css/stylesidebar.css" th:href="@{css/stylesidebar.css}" />
  
<!--   <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
  <link rel="stylesheet" href="../../static/css/stylesidebar.css" th:href="@{css/stylesidebar.css}" />
 <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" 
  th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="webjars/font-awesome/5.7.2/css/all.css" 
  th:href="@{webjars/font-awesome/5.7.2/css/all.css}"/> --> 
 <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel="stylesheet" href="webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyhicons.css" 
  th:href="@{webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyhicons.css}"/> -->
 
   <!-- <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"  src="webjars/jquery/3.3.1/jquery.min.js"></script>
  <script  th:src="@{webjars/bootstrap/4.1.3/js/bootstrap.min.js}" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
  <script type="text/javascript" th:src="@{js/modalTrigger.js}"  src="../../static/js/modalTrigger.js"></script>-->
   <script type="text/javascript" th:src="@{js/jquery.js}"  src="../../static/js/jquery.js"></script>
   <script type="text/javascript" th:src="@{js/bootstrap.min.js}"  src="../../static/js/bootstrap.min.js"></script>
    
    
 
</head>
<body>

	<div th:replace="fragments/header::header"></div>
	
	<div layout:fragment="content" >
	 <th:block layout:fragment="script">
            
            <script>
            $('.sidebar-btn').click(function(){
                $(this).toggleClass("click");
               $('.sidebar').toggleClass("show");
             })
             $('.feat-btn').click(function(){
               $('nav ul .feat-show').toggleClass("show");
               $('nav ul .first').toggleClass("rotate");
             });
             $('.serv-btn').click(function(){
               $('nav ul .serv-show').toggleClass("show1");
               $('nav ul .second').toggleClass("show");
             });
             $('nav ul li').click(function(){
               $(this).addClass("active").siblings().removeClass("active");
             });
            
              $(document).ready(function(){
            	  $('.sidebar-btn').click(function(){
            		  $(".container").toggleClass("collapse");
            	  });
              });
            </script>
       </th:block> 
	</div>

	
	<div th:replace="fragments/footer::footer">
	
	
            
            
	</div>
	<script>
            $('.sidebar-btn').click(function(){
                $(this).toggleClass("click");
               $('.sidebar').toggleClass("show");
             })
             $('.feat-btn').click(function(){
               $('nav ul .feat-show').toggleClass("show");
               $('nav ul .first').toggleClass("rotate");
             });
             $('.serv-btn').click(function(){
               $('nav ul .serv-show').toggleClass("show1");
               $('nav ul .second').toggleClass("show");
             });
             $('nav ul li').click(function(){
               $(this).addClass("active").siblings().removeClass("active");
             });
            
              $(document).ready(function(){
            	  $('.sidebar-btn').click(function(){
            		  $(".container").toggleClass("collapse");
            	  });
              });
            </script>
</body>
</html>